.DS_Store
*/__pycache__/*
streamlit/functions/scratch_paper.py
streamlit/functions/scratch_paper.py
streamlit/functions/.streamlit/secrets.toml
streamlit/.streamlit/secrets.toml
/.venv
.qodo
*.streamlit