/venv_macos/
/venv*
.DS_Store
*/__pycache__/*
/streamlit/functions/__pycache__
stock_market_assessment.code-workspace
/streamlit/functions/__pycache__
streamlit/functions/__pycache__/generations.cpython-311.pyc
streamlit/functions/__pycache__/__init__.cpython-311.pyc
streamlit/functions/__pycache__/generate_db.cpython-311.pyc
streamlit/functions/__pycache__/generations.cpython-311.pyc
streamlit/functions/__pycache__/signal_generators.cpython-311.pyc
streamlit/functions/scratch_paper.py
streamlit/functions/scratch_paper.py
env_var.py
streamlit/functions/scratch_paper.py
env_var.py
