.DS_Store
*/__pycache__/*
streamlit/functions/scratch_paper.py
streamlit/functions/scratch_paper.py
streamlit/functions/.streamlit/secrets.toml
streamlit/.streamlit/secrets.toml
.streamlit/secrets.toml
/.venv
.qodo
*.streamlit
/archive
CLAUDE.md
/.claude
/*__pycache__
*.pyc
TASKS.md
